html {
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;           /* 100vw e 100vh para 100% da janela */
    min-height: 100vh;
    min-height: 100dvh;
    margin: auto;
}

body {
    background-color: rgb(21, 21, 21);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    margin: 3 auto auto auto;
    
}

*{
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-family: "Fjalla One", sans-serif;
}

a{
    font-family: "Space Mono", monospace;
}

.navbar a{
    font-family: "Fjalla One", sans-serif;
}




@media screen and (min-width: 1251px) {

   

    .mypage {
        display: inherit;
        height: inherit;
        margin: auto;
        width: 70%;
        padding: 0px;
        flex-direction: inherit;
        justify-content: inherit;
    }

        
    
    .navbar{
        /*background-color: rgba(16, 16, 16, 0.5); colocar background no navbar todo*/
        min-width: 100%;
        max-width: 100%;
        width: auto;
        height: 100px;
        background-color: rgb(46, 46, 46);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
        }

        .menu{
            width: 30%;
            height: 100;
            display: flex;
            flex-direction: row;
        }
        
        .menu ul{
            
            justify-content: left;
            display: flex;
            flex-direction: row;
            height: 100%;
            width: auto;
            margin: auto auto auto 0;
            padding: 0;

        }
        
        .menu ul li{
            
            /*background-color: rgba(16, 16, 16); colocar background em cada item*/
            border-radius: 15px;
            list-style: none;
            height: 100%;
            width: 100px;
        }
        
        .menu li:hover {
            background-color: rgb(16, 16, 16, 0.5); /* Nova cor de fundo quando o mouse está sobre o botão */
        }
        
        .navbar a{
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            margin: auto;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

  

    .logo {
            margin: auto auto auto auto;
            width: 30%;
            height: 100;
        }


        .more {
                width: 30%;
                height: 100;
                align-items: right;
                justify-content: right;
            }


        .more-area{
            width: 100;
            height: 100%;
            
            margin: auto 0 auto auto;
        }

        .more a{
            text-decoration: none;
            color: #fff;
            font-size: 20px;
            text-transform: uppercase;
            margin: auto;
            height: 100%;
            width: 100;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .more a:hover {
            background-color: rgb(16, 16, 16, 0.5); /* Nova cor de fundo quando o mouse está sobre o botão */
        }

        .container {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: auto;
            margin: 15 auto auto auto;
            justify-content: space-between;
        }

        .part1 {
            width: 55%;
            height: auto;
            background-color: aqua;
        }

        .part2 {
            width: 40%;
            aspect-ratio: 5 / 6;
            background-color: rgb(42, 42, 42);
            border-radius: 10px;
        }

        .info {
            width: 80%;
            height: auto;
            margin: 25 auto 15 30;
        }

        .info a{
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            margin: auto;
            height: 100%;
            width: 100%;
        }

        .product_name {
            width: 100%;
            height: 60;
            margin: auto auto auto auto;
        }

        .product_name a{
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            margin: auto;
            height: 100%;
            width: 100%;   
            font-size: 25;  
            font-weight: bold;       
        }

        .product_description{

            width: 100%;
            height: 60;
            margin: auto auto 25 auto;

        }

        .product_description a{
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            margin: auto;
            height: 100%;
            width: 100%;   
            font-size: 20;  
            font-weight: normal;       
        }

        .product_price{

            width: 100%;
            height: 60;
            margin: auto auto 25 auto;

        }

    }