html, body {
    padding: 0px;
    overflow-x: hidden;
    
}

html{
}

body {
    background-image: linear-gradient(to right, #5b12a8 0%, #1a5bcd 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 769px) {

.mypage {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    min-height: 50%;
    max-width: 1920px;
    max-height: 1080px;
    margin: auto;
    padding: 0;
}

.space {
    margin-top: 10px;
}




.navbar {    
        /*background-color: rgba(16, 16, 16, 0.5); colocar background no navbar todo*/
        border-radius: 15px;
            height: 60px;
            width: 100%;

        }
        
        .navbar ul{
           
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%; /* 90% para afastamento centralizado / 100% para afastar */
            margin: 0 auto;
            padding: 0;
            text-align: center;
           align-items: center;
        }
        
        .navbar li{
            
            background-color: rgba(16, 16, 16);
            /*background-color: rgba(16, 16, 16); colocar background em cada item*/
            border-radius: 15px;
            list-style: none;
            height: 100%;
            width: 20%;
           
        }
        
        .navbar li:hover {
            background-color: rgb(16, 16, 16, 0.5); /* Nova cor de fundo quando o mouse está sobre o botão */
        }
        
        .navbar a{
            text-decoration: none;
            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: bold;
            margin: auto;
            font-family: sans-serif;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }


    .navbar2 {
             background-color: rgba(16, 16, 16);
            /*background-color: rgba(16, 16, 16, 0.5); colocar background no navbar todo*/
            border-radius: 15px;
                height: 60px;
               width: 100%;
            }
            
            .navbar2 ul{
               
                display: flex;
                justify-content: space-between;
                height: 100%;
                width: 90%; /* 90% para afastamento centralizado / 100% para afastar */
                margin: 0 auto;
                padding: 0;
                text-align: center;
               align-items: center;
            }
            
            .navbar2 li{
                
                background-color: rgba(16, 16, 16);
                /*background-color: rgba(16, 16, 16); colocar background em cada item*/
                border-radius: 15px;
                list-style: none;
                height: 100%;
                width: 20%;
               
            }
            
            .navbar2 li:hover {
                background-color: rgb(16, 16, 16, 0.5); /* Nova cor de fundo quando o mouse está sobre o botão */
            }
            
            .navbar2 a{
                text-decoration: none;
                color: #fff;
                font-size: 18px;
                text-transform: uppercase;
                font-weight: bold;
                margin: auto;
                font-family: sans-serif;
                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }


            .navbar3 {    
                /*background-color: rgba(16, 16, 16, 0.5); colocar background no navbar todo*/
                    height: 60px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                }
                
            .navbar3_logo{    
                display: flex;
                height: 60px;
                width: 30%;
            }

            .navbar3_rest {
                width: 70%;
                height: 60;
            }

            .box {
                width: 1280px;
                margin: auto;
            }
}

@media screen and (max-width: 769px) {

.navbar {
    background-color: rgba(16, 16, 16);
    /*background-color: rgba(16, 16, 16, 0.5); colocar background no navbar todo*/
    border-radius: 15px;
        height: 60px;
       
    }
    
    .navbar ul{
       
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
       align-items: center;
    }
    
    .navbar li{
        
        background-color: rgba(16, 16, 16);
        /*background-color: rgba(16, 16, 16); colocar background em cada item*/
        border-radius: 15px;
        list-style: none;
        height: 100%;
        width: 20%;
       
    }
    
    .navbar li:hover {
        background-color: rgb(16, 16, 16, 0.5); /* Nova cor de fundo quando o mouse está sobre o botão */
    }
    
    .navbar a{
        text-decoration: none;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        margin: auto;
        font-family: sans-serif;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}