body {
    background-image: linear-gradient(to right, #5b12a8 0%, #1a5bcd 100%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5;
 
}

.screen {
    min-height: 500px;
    min-width: 800px;
    height: 80%;
    width: 80%;
    margin: 25px auto;
    
    display: flex;
    flex-direction: column;
    
}

.navbar {

/*background-color: rgba(16, 16, 16, 0.5); colocar background no navbar todo*/
border-radius: 15px;
    height: 60px;
   
}

.navbar ul{
   
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding: 0;
    text-align: center;
   align-items: center;
}

.navbar li{
	
    background-color: rgba(16, 16, 16);
    /*background-color: rgba(16, 16, 16); colocar background em cada item*/
    border-radius: 15px;
    list-style: none;
    height: 100%;
    width: 20%;
   
}

.navbar li:hover {
    background-color: rgb(16, 16, 16, 0.5); /* Nova cor de fundo quando o mouse está sobre o botão */
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex: 1;
    
    margin: 20 20 20 5;
    /*margin: 20px 20px 20px 5px; para diminuir o tamanho e deixar um espaço entre o header*/
}

.part1 {
    display: flex;
    /*background-color: rgba(16, 16, 16, 0.5); colocar background na part1*/
    width: 70%;
   height: 100%;


   
}

.part2 {
   
    background-color: rgba(16, 16, 16, 0.5);
    /*background-color: rgba(16, 16, 16, 0.5); colocar background na part2*/
    width: 30%;
    height: 100%;
    border-radius: 10px
}   

.part1a{
    display: flex;
  width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16);
    margin-right: 20px;
    /*margin-right: 20px; para diminuir o tamanho e deixar um espaco entre o part1 e o part2*/
    border-radius: 10px;
    
}

.p2a{
display: flex;
    height: 80%;
    width: 100%;
    
    
    
    border-radius: 10px;
    padding: 0;
    
}

.p2a-area{ /*aki escrevo para editar o texto da coluna b2a, sendo o que esta aki visivel no site*/
    display: flex; /*desativar/ativar para o conteudo ser ou nao ser centralizado*/
    margin: auto;
    height: 90%;
    width: 90%;
    padding: 0;
    text-align: center;
    align-items: center;
    
}

.p2a-area a{
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
   font-family: sans-serif;

 
 line-height: 1.5;
}

.p2b{
    display: flex;
    
    width: 100%;
    height: 20%;
    border-radius: 10px;
}

.p2b li{
	
    background: radial-gradient(circle at 10% 20%, rgb(134, 47, 199) 0%, rgb(235, 56, 137) 90%);
    /*background-color: rgba(16, 16, 16, 0.5); colocar background em cada item*/
    border-radius: 15px;
    list-style: none;
    height: 60px;
    width: 58%;
    margin: auto;
	text-align: center;
    display: flex;
    align-items: center;
   padding: 0;
}


.p2b a{
    text-decoration: none;
    color: #000000;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
   font-family: sans-serif;
    
}

.dm{
    display: flex;
    height: 170;
    width: 700;
    
    /*background-color: rgba(16, 16, 16, 0.5); colocar background no dm*/
    margin: 20% auto auto 0;
}

.dm1{
    height: 100%;
    width: 25%;
    
}

.dm2{
    height: 100%;
    width: 75%;
    
    display: flex;
    flex-direction: column;
}

.pp{
    background-image: url('pp.gif');
    background-size: cover;
    background-position-x: 50%;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.dm-info{
    height: 30%;
    width: 100%;
    
    display: flex;
    
   
}

.dm-msg{
    height: 70%;
    width: 100%;
 display: flex;
    border-radius: 10px;
}

.dm-name{
    display: flex;
    height: 100%;
    margin-left: 20;
  
    border-radius: 10px;
    padding: 0;
}

.dm-date{
    display: flex;
    height: 100%;
    width: auto;
    margin-left: 20;
    border-radius: 10px;
}

.dm-name a{
   text-align: center;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
   font-family: sans-serif;
  margin: auto;
}

.dm-date a{
    
    color: #b8b8b8;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
   font-family: sans-serif;
 
margin: auto;
}


.dm-text{
    height: 100%;
    width: 100%;
    margin-left: 20;
    margin-top: 20;
    
}

.dm-text a{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1.5;
}

.dm-text a::after {
    content: "|";
    animation: blink-caret 1s step-end infinite;
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}