html {
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;           /* 100vw e 100vh para 100% da janela */
     
    margin: auto;
}

body {
    background-image: linear-gradient(to right, #5b12a8 0%, #1a5bcd 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    margin: 3 auto auto auto;
    padding: 3px;
}

*{
    padding: 0;
    box-sizing: border-box;
}



@media screen and (min-width: 1251px) {


    .mypage {
      
        height: auto;
    width: 80%;
        
        margin: 15 auto auto auto;
    }


.extra-left{
    display: none;
    height: 100%;
    width: 10%;

}

.extra-right{
    display: none;
    height: 100%;
    width: 10%;

}

.extra-left-area{
    height: 97%;
    width: 95%;
    margin: 25px auto;
    display: flex;

}

.extra-right-area{
    height: 97%;
    width: 95%;
    margin: 25px auto;
}

.social-media{
    margin: auto auto 0 0;
    width: 100%;
    height: 10%;
}

.social-media h1{
    text-decoration: none;
    color: black;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 0;
}


.social-media a{
    text-decoration: none;
    color: #c5c5c5;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
   line-height: 20px;
 
   list-style-type: none;
}

.social-media a:hover{
    color: #ffffff;
    
}

.social-media li{
    list-style-type: none;
}



.navbar {

/*background-color: rgba(16, 16, 16, 0.5); colocar background no navbar todo*/

   
}

.navbar ul{
   
    display: flex;
    justify-content: space-between;
    height: 60;
    width: 100%;
    margin: 0 auto;
    text-align: center;
   align-items: center;
}

.navbar li{
	
    background-color: rgba(16, 16, 16);
    /*background-color: rgba(16, 16, 16); colocar background em cada item*/
    border-radius: 15px;
    list-style: none;
    height: 100%;
    width: 20%;
   
}

.navbar li:hover {
    background-color: rgb(16, 16, 16, 0.5); /* Nova cor de fundo quando o mouse está sobre o botão */
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    aspect-ratio: 6/2;
    width: 100%;
    
    display: flex;
    margin: 20 auto auto auto;
    /*margin: 20 auto auto auto; para diminuir o tamanho e deixar um espaço entre o header*/
}

.part1 {
    display: flex;
    /*background-color: rgba(16, 16, 16, 0.5); colocar background na part1*/
    width: 70%;
   height: 100%;

   
}

.part2 {
   
    background-color: rgba(16, 16, 16, 0.5);
    /*background-color: rgba(16, 16, 16, 0.5); colocar background na part2*/
    width: 30%;
    height: 100%;
    border-radius: 10px
}   

.part1a{
    display: flex;
  width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16);
    margin-right: 20px;
    /*margin-right: 20px; para diminuir o tamanho e deixar um espaco entre o part1 e o part2*/
    border-radius: 10px;

}

.p2a{
display: flex;
    height: 80%;
    width: 100%;
    
    
    
    border-radius: 10px;
    padding: 0;
    
}

.p2a-area{ /*aki escrevo para editar o texto da coluna b2a, sendo o que esta aki visivel no site*/
    display: flex; /*desativar/ativar para o conteudo ser ou nao ser centralizado*/
    margin: auto;
    height: 90%;
    width: 90%;
    padding: 0;
    text-align: center;
    align-items: center;
    
}

.p2a-area a{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
   font-family: sans-serif;
   text-shadow: 3px 3px 1px black;

 
 line-height: 1.5;
}

.p2b{
    display: flex;
    
    width: 100%;
    height: 20%;
    border-radius: 10px;
}

.p2b li{
	
    background: linear-gradient(
        to bottom,
        rgb(255, 0, 157) 0%,
        rgb(255, 0, 157) 50%,
        rgb(170, 0, 105) 50%,
        rgb(170, 0, 105) 100%
      );
   
    
    /*background-color: rgba(16, 16, 16, 0.5); colocar background em cada item*/
    border-radius: 15px;
    list-style: none;
    height: 60px;
    width: 58%;
    margin: auto;
    border-color: black;
    border-style: solid;
    border-width: 3;
}


.p2b a{
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
   font-family: sans-serif;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-shadow: 3px 3px 1px black;

}

.p2b li:hover {
    background: radial-gradient(circle at 10% 20%, rgb(134, 47, 199, 0.5) 0%, rgb(235, 56, 137, 0.5) 90%); /* Nova cor de fundo quando o mouse está sobre o botão */
}

.dm{
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    /*background-color: rgba(16, 16, 16, 0.5); colocar background no dm*/
    margin: auto auto auto 50;
}

.dm1{
    height: 150;
    width: 150;
}

.dm2{
    height: 150;
    aspect-ratio: 7 / 2;
    display: flex;
    flex-direction: column;
    margin: auto auto auto 20;
}

.pp{
    background-image: url('pp.gif');
    background-size: cover;
    background-position-x: 50%;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.dm-info{
    height: 30%;
    width: auto;
    
    display: flex;
    flex-direction: row;
   
}

.dm-msg{
    height: 70%;
    width: auto;
    border-radius: 10px;
}

.dm-name{
    height: auto;
    margin: auto 35 auto 0;
    width: 100;
    border-radius: 10px;
    padding: 0;
}

.dm-date{
    height: auto;
    width: auto;
    margin: auto auto auto 0;
    border-radius: 10px;
}

.dm-name a{
   text-align: center;
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
   font-family: sans-serif;
  margin: auto;
}

.dm-date a{
    
    color: #b8b8b8;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
   font-family: sans-serif;
 
margin: auto;
}


.dm-text{
    height: 100%;
    width: 100%;
    margin: 20 auto auto 0;
    
}

.dm-text a{
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    font-family: sans-serif;
    line-height: 1.5;
}

.dm-text a::after {
    content: "|";
    animation: blink-caret 1s step-end infinite;
}


.projects{

    
    height: auto;
    width: 100%;
    margin: 20 auto auto auto;
    border-radius: 15px;
    position: relative;
}


    


.projects ul{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
    margin: auto;

}



.projects li{

    height: 150px;
    width: 150px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    border-style: solid;
    border-color: #000000;
    border-width: 3px;
}

.projects a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
   font-family: sans-serif;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-shadow: 3px 3px 1px black;
}


.projects li:hover {
    background-color: rgb(16, 16, 16, 0.5);
}


.projects li{
    background-color: rgb(43, 43, 43);
}


@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}








@media screen and (max-width: 1600px) {

    .dm a{
        font-size: 14;
    }

    .dm-name a{
        font-size: 18px;
    }

    .projects a{
        font-size: 20;
    }

    .dm{
        display: flex;
        flex-direction: row;
        height: 150;
        width: auto;
        /*background-color: rgba(16, 16, 16, 0.5); colocar background no dm*/
        margin: auto auto auto 20;
    }
    
    .dm1{
        height: 100%;
        aspect-ratio: 1 / 1;
    }
    
    .dm2{
        height: 100%;
        aspect-ratio: 7 / 2;
        display: flex;
        flex-direction: column;
        margin: auto auto auto 20;
    }

    .content {
        aspect-ratio: 6 / 2;
        width: auto;
        margin: 0 auto;
        display: flex;
        margin: 20 auto auto auto;
        /*margin: 20 auto auto auto; para diminuir o tamanho e deixar um espaço entre o header*/
    }



}    
}



/* --- phones --- */



@media screen and (max-width: 1250px) {

   body{
  
    width: 100%;
   }

    .mypage {
        
        height: auto;
        width: 100vw;
        margin: 0 auto auto auto;
    }
    
    .mypage-area{
        margin: auto;
        height: auto;
        width: vw;
    }
    
    .extra-left{
        height: 100%;
        width: 10%;
        display: none;
    }
    
    .extra-right{
        height: 100%;
        width: 10%;
        display: none;
    }
    
    
    
    .screen {
        
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
       margin: auto;
    }
    
    .screen-area {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: auto;
    }
    
    .navbar {
    
        /*background-color: rgba(16, 16, 16, 0.5); colocar background no navbar todo*/
        border-radius: 15px;
            height: 60px;
            width: 100vw;
           margin-bottom: 10px;
           background-color: rgb(16, 16, 16);
           

        }
        
        .navbar ul{
           
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 100%;
            width: 90%;
            margin: 0 auto;
            padding: 0;
            text-align: center;
           align-items: center;
        }
        
        .navbar li{
            
            background-color: rgba(16, 16, 16);
            /*background-color: rgba(16, 16, 16); colocar background em cada item*/
            border-radius: 15px;
            list-style: none;
            height: 100%;
            width: 20%;
           
        }
        
        .navbar li:hover {
            background-color: rgb(16, 16, 16, 0.5); /* Nova cor de fundo quando o mouse está sobre o botão */
        }
        
        .navbar a{
            text-decoration: none;
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            font-weight: bold;
            margin: auto;
            font-family: sans-serif;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
    .content {
        
        height: auto;
        width: 100%;
        display: none;
        flex-direction: column;
        
        margin: 5 auto auto auto;
        /*margin: 5 auto auto auto; para diminuir o tamanho e deixar um espaço entre o header*/
    }
    
    .part1 {
        margin: auto auto auto auto;
        background-color: rgba(16, 16, 16);
        border-radius: 15px;
        
        /*background-color: rgba(16, 16, 16, 0.5); colocar background na part1*/
        width: 100%;
       height: auto;
       
    }
    
    .part2 {
        /*background-color: rgba(16, 16, 16, 0.5); colocar background na part2*/
        width: 100%;
        height: auto;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        margin: 10 auto auto auto;
        background-color: rgba(16, 16, 16, 0.5);

    }   

    .part2a{

        display: flex;
        flex-direction: row;
        height: auto;
        width: 100%;
        border-radius: 15px;
    }
    
    .part1a{
      width: 100%;
        height: auto;
        /*margin-right: 20px; para diminuir o tamanho e deixar um espaco entre o part1 e o part2*/
        border-radius: 10px;
        
    }
    
    .p2a{
        
        height: auto;
        width: auto;
        /*background-color: rgba(16, 16, 16, 0.5); colocar background na p2a*/
       border-radius: 10px;
       margin: auto auto auto 20;
    }
    
    .p2a-area{         /*aki escrevo para editar o texto da coluna b2a, sendo o que esta aki visivel no site*/
                        /*desativar/ativar para o conteudo ser ou nao ser centralizado*/
        margin: auto;
        height: auto;
        width: auto;
        padding: 0;
        text-align: center;
        align-items: center;
        
    }
    
    .p2a-area a{
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
       font-family: sans-serif;
       text-shadow: 1px 2px 1px black;
     
     line-height: 1.5;
    }
    
    .p2b{
        
        width: auto;
        height: auto;
        border-radius: 10px;
        margin: auto 20 auto auto;
    }
    
    .p2b li{
        
        
        /*background-color: rgba(16, 16, 16, 0.5); colocar background em cada item*/
        border-radius: 13px;
        list-style: none;
        height: 50px;
        width: 100;
        margin: 5 auto 5 auto;

        background: linear-gradient(
            to bottom,
            rgb(255, 0, 157) 0%,
            rgb(255, 0, 157) 50%,
            rgb(170, 0, 105) 50%,
            rgb(170, 0, 105) 100%
          );
       
        
        /*background-color: rgba(16, 16, 16, 0.5); colocar background em cada item*/
       
        border-color: black;
        border-style: solid;
        border-width: 1;
    }
    
    
    .p2b a{
        text-decoration: none;
        color: #ffffff;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        margin: auto;
       font-family: sans-serif;
       height: 100%;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       text-shadow: 1px 2px 1px black;
    }
    
    .p2b li:hover {
        background: radial-gradient(circle at 10% 20%, rgb(134, 47, 199, 0.5) 0%, rgb(235, 56, 137, 0.5) 90%); /* Nova cor de fundo quando o mouse está sobre o botão */
    }
    
    .dm{
        display: flex;
        flex-direction: row;
        height: 100px;
        aspect-ratio: 4 / 1;
        
        /*background-color: rgba(16, 16, 16, 0.5); colocar background no dm*/
        margin: 21 auto 28 10;
        padding: 0;
    }
    
    .dm1{
        height: 100%;
        aspect-ratio: 1 / 1;
    }
    
    .dm2{
        height: 100%;
        width: 100%;
        margin: auto auto auto 5;
        display: flex;
        flex-direction: column;
    }
    
    .pp{
        background-image: url('pp.gif');
        background-size: cover;
        background-position-x: 50%;
        height: 100;
        width: 100;
        border-radius: 50%;
    }
    
    .dm-info{
        margin: auto auto auto 0;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
       
    }
    
    .dm-msg{
        height: auto;
        width: auto;
        border-radius: 10px;
        margin: auto auto auto 0;
    }
    
    .dm-name{
        height: auto;
        width: auto;
        padding: 0;
    }
    
    .dm-date{
        height: auto;
        width: auto;
        margin-left: 10;
        border-radius: 10px;
    }
    
    .dm-name a{
       text-align: center;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
       font-family: sans-serif;
      margin: auto;
    }
    
    .dm-date a{
        
        color: #b8b8b8;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
       font-family: sans-serif;
     
    margin: auto;
    }
    
    
    .dm-text{
        height: auto;
        width: 80%;
        margin: auto auto auto 5;
        
    }
    
    .dm-text a{
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        font-family: sans-serif;
        line-height: 1.5;
    }
    
    .dm-text a::after {
        content: "|";
        animation: blink-caret 1s step-end infinite;
    }
    
    @keyframes blink-caret {
        50% {
            opacity: 0;
        }
    }

    .projects{

    
        height: auto;
        width: 100%;
        margin: 20 auto auto auto;
        border-radius: 15px;
        position: relative;
    }
    
    
        
    
    
    .projects ul{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        margin: auto;
    
    }
    
    
    
    .projects li{
        background-color: #323232;
        height: 100px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border-style: solid;
        border-color: #000000;
        border-width: 3px;
    }

  
    
    .projects a{
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin: auto;
       font-family: sans-serif;
       height: 100%;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       text-shadow: 3px 3px 1px black;
    }
    
    
    .projects li:hover {
        background-color: rgb(16, 16, 16, 0.5); /* Nova cor de fundo quando o mouse está sobre o botão */
    }
    
 


}