html {
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;           /* 100vw e 100vh para 100% da janela */
    min-height: 100vh;
    min-height: 100dvh;     
    margin: auto;
}

body {
    background-image: linear-gradient(to right, #4a2655 0%, #0a3e99 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100vw;
    margin: 3 auto auto auto;
}

*{
    padding: 0;
    box-sizing: border-box;
}

.navbar a{
        font-family: "Fjalla One", sans-serif;

}



@media screen and (min-width: 1251px) {


    .mypage {
        display: inherit;
        height: inherit;
        margin: auto;
        width: 70%;
        padding: 0px;
        flex-direction: inherit;
        justify-content: inherit;
    }


.navbar {
    display: flex;
    flex-direction: row;
background-color: rgb(22, 22, 22);

height: 100px;
/*background-color: rgba(16, 16, 16, 0.5); colocar background no navbar todo*/

   
}

.navbar .logo{
    height: 90%;
    aspect-ratio: 1/1;
    margin: auto auto auto 0;
    background-size: cover;

}

.navbar .menu{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    margin: auto 0 auto auto;
    align-items: center;

}

.navbar .menu ul{
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: auto;
    
}

.navbar .menu ul li{
	
    /*background-color: rgba(16, 16, 16); colocar background em cada item*/
    border-radius: 15px;
    list-style: none;
    height: 100%;
    width: 150px;
   
}

.navbar li:hover {
    background-color: rgb(16, 16, 16, 0.5); /* Nova cor de fundo quando o mouse está sobre o botão */
}

.navbar a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    margin: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    aspect-ratio: 2/1;
    margin: 20 auto auto auto;
    /*margin: 20 auto auto auto; para diminuir o tamanho e deixar um espaço entre o header*/
}





.dm{
    background-color: rgb(16, 16, 16);
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    height: 150;
    aspect-ratio: 14/3.4;
    /*background-color: rgba(16, 16, 16, 0.5); colocar background no dm*/
    margin: 0 20 auto 0;
}

.dm1{
    height: 80%;
    aspect-ratio: 1/1;
    margin: auto auto auto 20;
}

.dm2{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto auto auto 20;
    border-radius: 15px;
    
}

.pp{
    background-image: url('pp.gif');
    background-size: cover;
    background-position-x: 50%;
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.dm-info{
    height: 30%;
    width: auto;
    
    display: flex;
    flex-direction: row;
   
}

.dm-msg{
    height: 70%;
    width: auto;
    border-radius: 10px;
}

.dm-name{
    height: auto;
    margin: auto 22 2 0;
    width: 100;
    border-radius: 10px;
    padding: 0;
}

.dm-date{
    height: auto;
    width: auto;
    margin: auto auto 4 0;
    border-radius: 10px;
}

.dm-name a{
   text-align: center;
    color: #fff;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
   font-family: sans-serif;
  margin: auto;
}

.dm-date a{
    
    color: #b8b8b8;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
   font-family: sans-serif;
 
margin: auto;
}


.dm-text{
    height: 100%;
    width: 100%;
    margin: 10 auto auto 0;
    
}

.dm-text a{
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-family: sans-serif;
    line-height: 1.5;
}

.dm-text a::after {
    content: "|";
    animation: blink-caret 1s step-end infinite;
}


.projects{

    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 100%;
    margin: 0 auto 0 auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.projects .title{
    width: 100%;
    height: 50px;
    margin: 15 auto 30 auto;
    align-content: center;
}


.projects .title a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
   font-family: sans-serif;
   height: 100%;
   width: 100%;
   justify-content: left;
   align-items: center;
   justify-content: center;
   text-shadow: 2px 2px 1px #ff0042;
    margin: auto auto auto 25;
    letter-spacing: 0.5;

} 


.projects ul{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin: 0 auto auto 0;

}



.projects li{
    background-size: cover;
    height: 130px;
    width: 100%;
    margin: auto auto 15 0;
    display: flex;
    flex-direction: row;
}

.projects .info .title2 a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
   font-family: sans-serif;
   height: 100%;
   width: 100%;
   justify-content: left;
   align-items: center;

   text-shadow: 2px 2px 1px #ff0042;
    margin: auto auto auto 20;
    letter-spacing: 0.5;
}



.projects .imagem a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
   font-family: sans-serif;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   text-shadow: 3px 3px 1px black;
}


.projects .imagem:hover {
    background-color: rgb(16, 16, 16, 0.5);
}

.projects li .imagem{
    height: 80%;
    aspect-ratio: 1/1;
    background-size: cover;
    margin: 0 0 auto 20;
}

.projects .info{
height: 100%;
width: 70%;
margin: auto auto auto 0;
display: flex;
flex-direction: column;

}

.projects .info .title2{
    height: 50;
    width: 100%;
    margin: 0 auto auto auto;
}

.projects .info .text{
    height: 100%;
    width: 100%;
    margin: 0 auto auto auto;
}

.projects .text a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
   font-family: sans-serif;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: left;
   letter-spacing: 0.5;
   line-height: 1.5;
   margin: auto auto auto 20;
}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}








@media screen and (max-width: 1600px) {
    

    .dm{
        background-color: rgb(16, 16, 16);
        border-radius: 15px;
    
        display: flex;
        flex-direction: row;
        height: 120;
        aspect-ratio: 14/3.4;
        /*background-color: rgba(16, 16, 16, 0.5); colocar background no dm*/
        margin: 0 20 auto 0;
    }
    
    .dm1{
        height: 80%;
        aspect-ratio: 1/1;
        margin: auto auto auto 20;
    }
    
    .dm2{
        height: 100%;
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: auto auto auto 20;
        border-radius: 15px;
        
    }
    
    .pp{
        background-image: url('pp.gif');
        background-size: cover;
        background-position-x: 50%;
        height: 100%;
        width: 100%;
        border-radius: 50%;
    }
    
    .dm-info{
        height: 30%;
        width: 100%;
        
        display: flex;
        flex-direction: row;
       
    }
    
    .dm-msg{
        height: 70%;
        width: auto;
        border-radius: 10px;
    }
    
    .dm-name{
        height: auto;
        margin: auto 0 2 0;
        width: 100;
        border-radius: 10px;
        padding: 0;
    }
    
    .dm-date{
        height: auto;
        width: 200;
        margin: auto 0 4 0;
        border-radius: 10px;
    }
    
    .dm-name a{
        font-size: 18px;

    }
    
    .dm-date a{
        font-size: 12px;

    }
    
    

    
    .dm-text a{
    
        font-size: 12px;
    }

    
    
    .projects .title a{

        font-size: 18px;

    
    } 
    
    
    
    
    .projects .info .title2 a{
        font-size: 16px;

    }
    
    
    
    .projects .imagem a{
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin: auto;
       font-family: sans-serif;
       height: 100%;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       text-shadow: 3px 3px 1px black;
    }
    
    

    
    .projects .info{
    width: 67%;

    
    }
    

    
    .projects .text a{
        font-size: 10px;

    }
  
}
}


/* --- phones --- */



@media screen and (max-width: 1250px) {

 

    .mypage {
        display: inherit;
        height: inherit;
        margin: auto;
        width: 100%;
        padding: 0px;
        flex-direction: inherit;
        justify-content: inherit;
    }
    
    
    .navbar {
        display: flex;
        flex-direction: row;
    background-color: rgb(22, 22, 22);
    width: 100%;
    height: 70px;
    justify-content: space-between;
       
    }
    
    .navbar .logo{
        height: 90%;
        aspect-ratio: 1/1;
        background-size: cover;
        background-color: #0a3e99;
    
    }
    
    .navbar .menu{

        height: 100%;
        width: auto;
        background-color: #990a5d;
    
    }
    
    .navbar .menu ul{
       
        display: flex;
        flex-direction: row;
        height: 70px;
        width: auto;
        margin: auto auto auto auto;
        background-color: #00eeff;
        justify-content: right;
        
    }
    
    .navbar .menu ul li{
        /*background-color: rgba(16, 16, 16); colocar background em cada item*/
        border-radius: 15px;
        list-style: none;
        height: 70;
        width: 60px;
        background-color: #0a3e99;
    }
    
    .navbar li:hover {
        background-color: rgb(16, 16, 16, 0.5); /* Nova cor de fundo quando o mouse está sobre o botão */
    }
    
    .navbar a{
        text-decoration: none;
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        margin: auto;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content {
        
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        
        margin: 5 auto auto auto;
        /*margin: 5 auto auto auto; para diminuir o tamanho e deixar um espaço entre o header*/
    }
    
   
    
    .dm{
        display: flex;
        flex-direction: row;
        height: 100px;
        aspect-ratio: 4 / 1;
        
        /*background-color: rgba(16, 16, 16, 0.5); colocar background no dm*/
        margin: 21 auto 28 10;
        padding: 0;
    }
    
    .dm1{
        height: 100%;
        aspect-ratio: 1 / 1;
    }
    
    .dm2{
        height: 100%;
        width: 100%;
        margin: auto auto auto 5;
        display: flex;
        flex-direction: column;
    }
    
    .pp{
        background-image: url('pp.gif');
        background-size: cover;
        background-position-x: 50%;
        height: 100;
        width: 100;
        border-radius: 50%;
    }
    
    .dm-info{
        margin: auto auto auto 0;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
       
    }
    
    .dm-msg{
        height: auto;
        width: auto;
        border-radius: 10px;
        margin: auto auto auto 0;
    }
    
    .dm-name{
        height: auto;
        width: auto;
        padding: 0;
    }
    
    .dm-date{
        height: auto;
        width: auto;
        margin-left: 10;
        border-radius: 10px;
    }
    
    .dm-name a{
       text-align: center;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
       font-family: sans-serif;
      margin: auto;
    }
    
    .dm-date a{
        
        color: #b8b8b8;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
       font-family: sans-serif;
     
    margin: auto;
    }
    
    
    .dm-text{
        height: auto;
        width: 80%;
        margin: auto auto auto 5;
        
    }
    
    .dm-text a{
        color: #fff;
        font-size: 10px;
        text-transform: uppercase;
        font-family: sans-serif;
        line-height: 1.5;
    }
    
    .dm-text a::after {
        content: "|";
        animation: blink-caret 1s step-end infinite;
    }
    
    @keyframes blink-caret {
        50% {
            opacity: 0;
        }
    }

    .projects{

    
        height: auto;
        width: 100%;
        margin: 20 auto auto auto;
        border-radius: 15px;
        position: relative;
    }
    
    
        
    
    
    .projects ul{
        width: auto;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        list-style: none;
        margin: auto;
    
    }
    
    
    
    .projects li{
        background-color: #323232;
        height: 100px;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
        border-style: solid;
        border-color: #000000;
        border-width: 3px;
    }

  
    
    .projects a{
        text-decoration: none;
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: bold;
        margin: auto;
       font-family: sans-serif;
       height: 100%;
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       text-shadow: 3px 3px 1px black;
    }
    
    
    .projects li:hover {
        background-color: rgb(16, 16, 16, 0.5); /* Nova cor de fundo quando o mouse está sobre o botão */
    }
    
 


}