html {
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;           /* 100vw e 100vh para 100% da janela */
    min-height: 100vh;
    min-height: 100dvh;
    margin: auto;
}

body {
    background-image: linear-gradient(to right, #5b12a8 0%, #1a5bcd 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 99vw;
    margin: 3 auto auto auto;
}

*{
    padding: 0;
    box-sizing: border-box;
}




@media screen and (min-width: 1201px) {

  


    .mypage {
       width: auto;
       height: auto;
        width: 80%;
       margin: 15 auto auto auto;

    }



    
    
    .navbar{
    display: flex;
    /*background-color: rgba(16, 16, 16, 0.5); colocar background no navbar todo*/
    border-radius: 15px;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
       
    }
    
    .navbar ul{
        

        display: flex;
        justify-content: space-between;
        height: 60;
        width: 100%;
        
        margin: auto;
        padding: 0;
       
    }
    
    .navbar li{
        
        background-color: rgba(16, 16, 16);
        /*background-color: rgba(16, 16, 16); colocar background em cada item*/
        border-radius: 15px;
        list-style: none;
        height: 100%;
        width: 20%;
       
    }
    
    .navbar li:hover {
        background-color: rgb(16, 16, 16, 0.5); /* Nova cor de fundo quando o mouse está sobre o botão */
    }
    
    .navbar a{
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        margin: auto;
        font-family: sans-serif;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content {
        height: auto;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 15px;
        margin: 20 auto auto auto;
        /*margin: 20 auto auto auto; para diminuir o tamanho e deixar um espaço entre o header*/
    }
  
    .content ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: auto;
        background-color: rgba(16, 16, 16, 0.5);
        margin: auto;
        justify-content: space-between;
        padding: 30;
    }

    .content li{
        text-decoration: none;
        width: 300;
        height: 500;
        background-color: rgb(16, 16, 16);
        border-radius: 15px;
        list-style: none;

    }
    
    

@media screen and (max-width: 1610px) {

    

}
}

@media screen and (max-width: 1200px) {

   
  
 

    .mypage {
       
        
       
       margin: auto;

    }

.mypage-area{
    
    margin: auto;
    width: 100%;
   height: auto;
    
}
    
    
    
    .navbar {
    
    /*background-color: rgba(16, 16, 16, 0.5); colocar background no navbar todo*/
    border-radius: 15px;
        height: 60px;
        margin-bottom: 10px;
        background-color: rgb(16, 16, 16);
    }
    
    .navbar ul{
       
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
       align-items: center;
    }
    
    .navbar li{
        
        background-color: rgba(16, 16, 16);
        /*background-color: rgba(16, 16, 16); colocar background em cada item*/
        border-radius: 15px;
        list-style: none;
        height: 100%;
        width: 20%;
       
    }
    
    .navbar li:hover {
        background-color: rgb(16, 16, 16, 0.5); /* Nova cor de fundo quando o mouse está sobre o botão */
    }
    
    .navbar a{
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        margin: auto;
        font-family: sans-serif;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .content {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /*margin: 20 auto auto auto; para diminuir o tamanho e deixar um espaço entre o header*/
    }
  
    

}






















